@page
@model MyApp.Namespace.CreateReservationModel
@{
    ViewData["Title"] = "Create Reservations";
}

<style>
    h1 {
        text-align: center;
    }

    body {
        background-color: rgb(221, 233, 244);
    }

    form {
        width: 300px;
        margin: 0 auto;
        border: 2px solid #ffffff;
        padding: 20px;
        border-radius: 5px;
        background: white;
    }

    .form-group {
        margin-bottom: 15px;
    }

    input[type="text"],
    input[type="number"] {
        width: 100%;
        padding: 8px;
        font-size: 14px;
        border-radius: 10px;
    }

    button[type="submit"] {
        display: block;
        margin: 0 auto;
        background-color: rgb(81, 120, 220);
        border: none;
        border-radius: 8px;
    }

    #createR-btn {
        margin-top: 10px;
    }

    a {
        display: block;
        text-align: center;
        margin-top: 20px;
        color: rgb(40, 40, 134);
        text-decoration: none;
    }

    a:hover {
        text-decoration: none;
    }
</style>
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/flatpickr/dist/flatpickr.min.css">
<script src="https://cdn.jsdelivr.net/npm/flatpickr"></script>

<h1>Create Reservation</h1>

<form method="post">
    <div class="form-group">
        <label for="dateTime">Date and Time:</label>
        <input id="dateTime" type="text" name="Reservation.DateTime" required />
        @*<input id="dateTime" type="datetime-local" asp-for="Reservation.DateTime"
        min="@DateTime.Today.ToString("yyyy-MM-ddTHH:00")" step="3600" required />*@
        <script>
            flatpickr("#dateTime", {
                enableTime: true,
                noCalendar: false,
                dateFormat: "Y-m-d H:i",
                minDate: "today",
                minuteIncrement: 60, 
                time_24hr: true 
            });
        </script> 
        @*only allowing the user to choose the top of the hours so that it shows clearly on the time table.*@
    </div>

    <div class="form-group">
        <label for="room">Room:</label>
        <div class="select">
            <select id="room" asp-for="Reservation.RoomId" asp-items="@(new SelectList(Model.Rooms, "Id", "RoomName"))"
                required>
                <option value="">Select a room</option>
            </select>
        </div>
    </div>

    <button type="submit" class="btn btn-primary" id="createR-btn">Create Reservation</button>
</form>

<a asp-page="/DisplayReservation">Display Reservations</a>
