@page
@model MyApp.Namespace.CreateRoomsModel
@{
    ViewData["Title"] = "Create Rooms";
}

<style>
    h1 {
        text-align: center;
    }

    body {
        background-color: rgb(221, 233, 244);
    }

    form {
        width: 300px;
        margin: 0 auto;
        border: 2px solid #ffffff;
        padding: 20px;
        border-radius: 5px;
        background: white;
    }

    .form-group {
        margin-bottom: 15px;
    }

    input[type="text"], input[type="number"] {
        width: 100%;
        padding: 8px;
        font-size: 14px;
        border-radius: 10px;
    }

    button[type="submit"] {
        margin-top: 10px;
        display: block; 
        margin: 0 auto; 
        background-color: rgb(40, 40, 134);
        border: none;
    }

    button[type="submit"]:hover {
        background-color: rgb(221, 233, 244);
        border: none;
        color:rgb(40, 40, 134);
    }

    a {
        display: block;
        text-align: center;
        margin-top: 20px;
        color: rgb(40, 40, 134);
        text-decoration: none;
    }
    a:hover {
        text-decoration: none;
    }
</style>


<h1>Create Rooms</h1>
<form method="post">
    <div class="form-group">
        <label asp-for="NewRoom.RoomName">Room Name</label>
        <input asp-for="NewRoom.RoomName" class="form-control" />
        <span asp-validation-for="NewRoom.RoomName" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="NewRoom.Capacity"></label>
        <input asp-for="NewRoom.Capacity" class="form-control" type="number" min="1"/>
        <span asp-validation-for="NewRoom.Capacity" class="text-danger"></span>
    </div>

    <button type="submit" class="btn btn-primary">Create</button>
</form>

<a asp-page="/DisplayRooms">Display Rooms</a>



@section Scripts {
<partial name="_ValidationScriptsPartial" />
}